/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require users
 *= require sakes 
 *= require reviews
 *= require home
 */


 body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* background-color: #f5f2eb; */
  color: #b39059;
}

header {
  border-bottom: 1px solid #b39059;
  display: flex;
  flex-direction: row; /* 横並びにするために指定 */
}

input[type="text"] {
  border: 1px solid #C0C0C0;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  padding-left: 2.5rem;
}

button {
  background: none;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  color: #b39059;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}

.bg-black {
  background-color: #f5f2eb;
}

.text-silver {
  color: #b39059;
}

.border-silver {
  border-color: #b39059;
}

.bg-silver {
  background-color: #b39059;
}

.text-black {
  color: #000000;
}

.transition {
  transition: all 0.3s ease;
}

.flex-1 {
  flex: 1;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-right {
    text-align: left;
    margin-top: 1rem;
  }
}

/* 検索窓のスタイル */
.search-container {
  display: flex;                /* フレックスボックスレイアウトに設定 */
  justify-content: center;      /* コンテンツを中央に配置 */
  align-items: center;          
  /* 垂直方向のセンタリング */
  width: 100%;                  /* 親要素の幅を占有 */
  max-width: 400px;             /* 最大幅を設定 */
  /* margin: 0 auto;                */
  /* 中央寄せ */
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

.input-group {
  display: flex;
  width: 100%; /* 入力とボタンを一列に並べるために幅を100%に設定 */
}

.input-group input[type="text"] {
  flex: 1; /* 入力フィールドをできる限り広げる */
  padding: 10px 20px;
  border: 1px solid #b39059;
  background-color: #fff;
  color: #b39059;
  border-radius: 30px 0 0 30px; /* 左側の角だけを丸く */
}

.input-group button {
  background: #f5f2eb;
  color: #b39059;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group button svg {
  width: 20px;
  height: 20px;
}

/* ハンバーガーメニューの色変更 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(179, 144, 89, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ハンバーガーを「×」に変形 */
.navbar-toggler.open .navbar-toggler-icon {
  background-image: none;
  position: relative;
}

.navbar-toggler.open .navbar-toggler-icon:before,
.navbar-toggler.open .navbar-toggler-icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(179, 144, 89, 1); /* カスタムカラー */
}

.navbar-toggler.open .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler.open .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.btn-custom{
  background-color: #b39059;
  color: #fff;
}

.btn-circle {
  width: 50px;             /* ボタンの幅 */
  height: 50px;            /* ボタンの高さ */
  border-radius: 50%;      /* 角を丸くして正円形にする */
  display: inline-flex;    /* 内部のアイコンを中央に配置 */
  align-items: center;     /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  background-color: #4CAF50; /* ボタンの背景色（必要に応じて変更） */
  color: white;            /* テキストの色 */
  border: none;            /* ボーダーを消す */
  cursor: pointer;         /* カーソルをポインターに */
}

.btn-circle:hover {
  background-color: #45a049; /* ホバー時の背景色 */
}

.return-button {
  /*  */
}