/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f2eb;
  color: #b39059;
}

header {
  border-bottom: 1px solid #b39059;
}

input[type="text"] {
  border: 1px solid #C0C0C0;
  background-color: #ffffff;
  color: #C0C0C0;
  border-radius: 4px;
  padding-left: 2.5rem;
}

button {
  background: none;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  color: #b39059;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bg-black {
  background-color: #f5f2eb;
}

.text-silver {
  color: #b39059;
}

.border-silver {
  border-color: #b39059;
}

.bg-silver {
  background-color: #b39059;
}

.text-black {
  color: #000000;
}

.transition {
  transition: all 0.3s ease;
}

.flex-1 {
  flex: 1;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-right {
    text-align: left;
    margin-top: 1rem;
  }
}

/* 検索窓のスタイル */
.search-container {
  display: flex;                /* フレックスボックスレイアウトに設定 */
  justify-content: center;      /* コンテンツを中央に配置 */
  /* align-items: center;           */
  /* 垂直方向のセンタリング */
  width: 100%;                  /* 親要素の幅を占有 */
  max-width: 400px;             /* 最大幅を設定 */
  margin: 0 auto;               /* 中央寄せ */
}

.search-container input[type="text"] {
  width: 100%;                  /* インプット要素の幅を設定 */
  padding: 10px 20px;           /* パディングを設定 */
  border: 1px solid #b39059;    /* 境界線の色を設定 */
  background-color: #fff;       /* 背景色を設定 */
  color: #b39059;               /* テキストの色を設定 */
  display:inline-block;
}

.search-container button {
  background: none;             /* 背景なし */
  border: none;                 /* 境界線なし */
  color: #b39059;               /* テキストの色 */
  font-size: 20px;              /* フォントサイズ */
  cursor: pointer;              /* カーソルをポインターに */
  margin-left: 10px;            /* 左の余白を設定 */
  display:inline-block;
}

.search-container button svg {
  width: 20px;
  height: 20px;
}
